body {
	padding-top: 7em;	
	background-color: slategrey;
}

footer {
	margin-top: 1em;
	background-color: rgb(27, 28, 29);
}

.item i {
	color: teal;
}

#right-mobile-menu {
	display: none;
}

@media only screen and (max-width: 1200px) {
	.ui.massive.list {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 990px) {
	.ui.massive.list {
		font-size: 1em;
	}

	#right-desk-menu {
		display: flex;
	}

	#right-mobile-menu {
		display: none;
	}
}

@media only screen and (max-width: 770px) {
	.ui.massive.list {
		font-size: 1.7em;
	}

	#right-desk-menu {
		display: none;
	}

	#right-mobile-menu {
		display: flex;
	}
}