
body {
	background-color: slategrey;
}


#main {
	min-height: 100%;
}

footer {
	margin-top: 2em;
	background-color: rgb(27, 28, 29);
}

.skillicon {
	font-size: 5rem;
}

.portfolioIcon {
	font-size: 2rem;
	color: teal;
}

#right-mobile-menu {
	display: none;
}

#resumeModal {
	height: 90%;
}

#skills {
	margin: 1em 0em;
}

@media only screen and (max-width: 1200px) {
	.ui.massive.list {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 990px) {

	body {
		padding-top: 2em;
		background-color: slategrey;
	}

	.ui.massive.list {
		font-size: 1em;
	}

	#right-desk-menu {
		display: none;
	}

	#right-mobile-menu {
		display: flex;
	}
}

@media only screen and (max-width: 770px) {
	.ui.massive.list {
		font-size: 1.7em;
	}

	#right-desk-menu {
		display: none;
	}

	#right-mobile-menu {
		display: flex;
	}
}

